<ng-container *ngIf="C && SC">
  <div class="content-box">
    <!-- NAME -->
    <h1 class="flexrow namerow justify-center">
      <span
        class="name name-word"
        *ngFor="let word of splitClassName; let i = index"
      >
        {{ word.toUpperCase() }}&nbsp;
        <span style="margin-right: 0.1rem;"></span>
      </span>
    </h1>

    <!-- INFO iterated -->
    <ng-container *ngIf="showIntro">
      <ng-container *ngFor="let key of returnKeys(C.info)">
        <ng-container *ngIf="key.indexOf('name') === -1">
          <p
            *ngFor="let p of C.info[key].split('\n')"
            [style.fontStyle]="key === 'prose' ? 'italic' : null"
          >
            {{ p }}
          </p>
        </ng-container>
        <ng-container *ngIf="key.indexOf('name') > -1">
          <h3 class="flexrow namerow">
            <span
              class="name"
              *ngFor="let word of C.info[key].split(' '); let i = index"
              [ngClass]="{ 'name-word': isWord(word) }"
            >
              {{ word.toUpperCase() }}&nbsp;
              <span style="margin-right: 0.1rem;"></span>
            </span>
          </h3>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- CLASS TABLE -->
    <ng-container *ngIf="showTable">
      <h2 class="flexrow namerow" *ngIf="showIntro">
        <span
          class="name name-word"
          *ngFor="let word of (C.name + ' Table').split(' '); let i = index"
        >
          {{ word.toUpperCase() }}&nbsp;
          <span style="margin-right: 0.1rem;"></span>
        </span>
      </h2>
      <div class="classtable">
        <table>
          <tr *ngFor="let row of C.classtable; let i = index">
            <ng-container *ngIf="i !== 1">
              <td *ngFor="let content of row; let j = index">
                <div
                  style="white-space: nowrap"
                  [style.textAlign]="j === 2 ? 'left' : 'center'"
                >
                  <span *ngIf="i === 0">
                    <span *ngFor="let word of content.split(' ')">
                      <span>{{ word }}</span
                      ><br />
                    </span>
                  </span>
                  <span *ngIf="i !== 0">
                    {{ content }}
                  </span>
                </div>
              </td>
            </ng-container>
          </tr>
        </table>
      </div>
    </ng-container>

    <!-- PROFICIENCIES iterated -->
    <ng-container *ngIf="showProf">
      <h2 class="flexrow namerow" *ngIf="showIntro || showTable">
        <span class="name name-word"> DETAILS </span>
      </h2>
      <ng-container *ngFor="let title of returnKeys(C.details)">
        <h4 class="name name-word">
          {{ title.replaceAll('_', ' ') }}
        </h4>
        <div
          *ngFor="let bullet of returnKeys(C.details[title])"
          style="margin-left: 1rem"
        >
          <span *ngIf="bullet.indexOf('value') !== 0" style="font-weight: bold"
            >{{ bullet.replaceAll('_', ' ') }}:</span
          >
          {{ C.details[title][bullet] }}
          <br />
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let feature of C.features">
      <h3 class="flexrow namerow" *ngIf="feature.name.indexOf('#') === -1">
        <span
          class="name"
          *ngFor="let word of feature.name.split(' ')"
          [ngClass]="{ 'name-word': isWord(word) }"
        >
          {{ word.toUpperCase() }}&nbsp;
          <span style="margin-right: 0.1rem;"></span>
        </span>
      </h3>
      <h4 class="name name-word" *ngIf="feature.name.indexOf('#') === 0">
        {{ feature.name.replace('# ', '') }}
      </h4>
      <p *ngFor="let p of feature.paragraphs">
        <span
          *ngFor="let str of p.str"
          [style.fontWeight]="str.bld ? 'bold' : null"
          [style.fontStyle]="str.itl ? 'italic' : null"
        >
          {{ str.text }}
        </span>
      </p>
    </ng-container>

    <!-- Start of Subclasses -->

    <div class="subclass-background">
      <h1 class="flexrow namerow justify-center">
        <span
          class="name name-word"
          *ngFor="let word of splitSubclassName; let i = index"
        >
          {{ word.toUpperCase() }}&nbsp;
          <span style="margin-right: 0.1rem;"></span>
        </span>
      </h1>
      <p *ngFor="let p of SC.text.split('\n')">
        {{ p }}
      </p>
      <div class="othertable flexrow justify-center">
        <table>
          <tr *ngFor="let row of SC.featuretable; let i = index">
            <ng-container *ngIf="i !== 1">
              <td
                *ngFor="let content of row; let j = index"
                [style.textAlign]="getTextAlign(SC.featuretable[1][j])"
              >
                  {{ content }}
              </td>
            </ng-container>
          </tr>
        </table>
      </div>

      <!-- Subclass Features -->

      <ng-container *ngFor="let feature of SC.features">
        <h3 class="flexrow namerow" *ngIf="feature.name.indexOf('#') === -1">
          <span
            class="name"
            *ngFor="let word of feature.name.split(' ')"
            [ngClass]="{ 'name-word': isWord(word) }"
          >
            {{ word.toUpperCase() }}&nbsp;
            <span style="margin-right: 0.1rem;"></span>
          </span>
        </h3>
        <h4 class="name name-word" *ngIf="feature.name.indexOf('#') === 0">
          {{ feature.name.replace('# ', '') }}
        </h4>
        <p *ngFor="let p of feature.paragraphs">
          <ng-container
            *ngFor="let str of p.str"
            [style.fontWeight]="str.bld ? 'bold' : null"
            [style.fontStyle]="str.itl ? 'italic' : null"
          >
            {{ str.text }}
          </ng-container>
          <span *ngIf="p.table" class="othertable flexrow justify-center">
            <table>
              <tr *ngFor="let row of p.table; let i = index">
                <ng-container *ngIf="i !== 1">
                  <td
                    *ngFor="let content of row; let j = index"
                    [style.textAlign]="getTextAlign(p.table[1][j])"
                  >
                      {{ content }}
                  </td>
                </ng-container>
              </tr>
            </table>
          </span>
          
        </p>
      </ng-container>
    </div>

    <!-- <h2 class="flexrow namerow">
      <span
        class="name name-word"
        *ngFor="let word of splitSubclassName; let i = index"
      >
        {{ word.toUpperCase() }}&nbsp;
        <span
          *ngIf="i < splitSubclassName.length - 1"
          style="margin-right: 0.1rem;"
        ></span>
      </span>
    </h2> -->
  </div>
</ng-container>
