<ng-container *ngIf="C && SC">
  <div class="content-box">
    <!-- NAME -->
    <h1 class="flexrow namerow justify-center">
      <span
        class="name name-word"
        *ngFor="let word of splitClassName; let i = index"
      >
        {{ word.toUpperCase() }}&nbsp;
        <span style="margin-right: 0.1rem;"></span>
      </span>
    </h1>

    <!-- INFO iterated -->
    <ng-container *ngIf="showIntro">
      <ng-container *ngFor="let key of returnKeys(C.info)">
        <ng-container *ngIf="key.indexOf('name') === -1">
          <p
            *ngFor="let p of C.info[key].split('\n')"
            [style.fontStyle]="key === 'prose' ? 'italic' : null"
          >
            {{ p }}
          </p>
        </ng-container>
        <ng-container *ngIf="key.indexOf('name') > -1">
          <h3 class="flexrow namerow">
            <span
              class="name"
              *ngFor="let word of C.info[key].split(' '); let i = index"
              [ngClass]="{ 'name-word': isWord(word) }"
            >
              {{ word.toUpperCase() }}&nbsp;
              <span style="margin-right: 0.1rem;"></span>
            </span>
          </h3>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- CLASS TABLE -->
    <ng-container *ngIf="showTable">
      <h2 class="flexrow namerow" *ngIf="showIntro">
        <span
          class="name name-word"
          *ngFor="let word of (C.name + ' Table').split(' '); let i = index"
        >
          {{ word.toUpperCase() }}&nbsp;
          <span style="margin-right: 0.1rem;"></span>
        </span>
      </h2>
      <div class="classtable">
        <table>
          <tr *ngFor="let row of C.classtable; let i = index">
            <ng-container *ngIf="i !== 1">
              <td *ngFor="let content of row; let j = index">
                <div
                  style="white-space: nowrap"
                  [style.textAlign]="j === 2 ? 'left' : 'center'"
                >
                  <span *ngIf="i === 0">
                    <span *ngFor="let word of content.split(' ')">
                      <span>{{ word }}</span
                      ><br />
                    </span>
                  </span>
                  <span *ngIf="i !== 0">
                    {{ content }}
                  </span>
                </div>
              </td>
            </ng-container>
          </tr>
        </table>
      </div>
    </ng-container>

    <!-- PROFICIENCIES iterated -->
    <ng-container *ngIf="showProf">
      <h2 class="flexrow namerow" *ngIf="showIntro || showTable">
        <span class="name name-word"> DETAILS </span>
      </h2>
      <ng-container *ngFor="let title of returnKeys(C.details)">
        <h4 class="name name-word">
          {{ title.replaceAll('_', ' ') }}
        </h4>
        <div
          *ngFor="let bullet of returnKeys(C.details[title])"
          style="margin-left: 1rem"
        >
          <span *ngIf="bullet.indexOf('value') !== 0" style="font-weight: bold"
            >{{ bullet.replaceAll('_', ' ') }}:</span
          >
          {{ C.details[title][bullet] }}
          <br />
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let feature of C.features">
      <h3 class="flexrow namerow" *ngIf="feature.name.indexOf('#') === -1">
        <span
          class="name"
          *ngFor="let word of feature.name.split(' ')"
          [ngClass]="{ 'name-word': isWord(word) }"
        >
          {{ word.toUpperCase() }}&nbsp;
          <span style="margin-right: 0.1rem;"></span>
        </span>
      </h3>
      <h4 class="name name-word" *ngIf="feature.name.indexOf('#') === 0">
        {{ feature.name.replace('# ', '') }}
      </h4>
      <p *ngFor="let p of feature.paragraphs">
        <span
          *ngFor="let str of p.str"
          [style.fontWeight]="str.bld ? 'bold' : null"
          [style.fontStyle]="str.itl ? 'italic' : null"
        >
          {{ str.text }}
        </span>
      </p>
    </ng-container>

    <!-- Start of Subclasses -->

    <div class="subclass-background">
      <h1 class="flexrow namerow justify-center">
        <span
          class="name name-word"
          *ngFor="let word of splitSubclassName; let i = index"
        >
          {{ word.toUpperCase() }}&nbsp;
          <span style="margin-right: 0.1rem;"></span>
        </span>
      </h1>
      <p *ngFor="let p of SC.text.split('\n')">
        {{ p }}
      </p>
      <div class="othertable flexrow justify-center">
        <table>
          <tr *ngFor="let row of SC.featuretable; let i = index">
            <ng-container *ngIf="i !== 1">
              <td
                *ngFor="let content of row; let j = index"
                [style.textAlign]="getTextAlign(SC.featuretable[1][j])"
              >
                <span *ngIf="i === 0" style="white-space: nowrap">
                  <span *ngFor="let word of content.split(' ')">
                    <span>{{ word }}</span
                    ><br />
                  </span>
                </span>
                <span *ngIf="i !== 0">
                  {{ content }}
                </span>
              </td>
            </ng-container>
          </tr>
        </table>
      </div>

      <!-- Subclass Features -->

      <ng-container *ngFor="let feature of SC.features">
        <h3
          id="subclass-header"
          class="flexrow namerow"
          *ngIf="feature.name.indexOf('#') === -1"
        >
          <span
            class="name"
            *ngFor="let word of feature.name.split(' ')"
            [ngClass]="{ 'name-word': isWord(word) }"
          >
            {{ word.toUpperCase() }}&nbsp;
            <span style="margin-right: 0.1rem;"></span>
          </span>
        </h3>
        <h4 class="name name-word" *ngIf="feature.name.indexOf('#') === 0">
          {{ feature.name.replace('# ', '') }}
        </h4>
        <ng-container *ngFor="let p of feature.paragraphs">
          <!-- TEXT -->
          <p>
            <ng-container
              *ngFor="let str of p.str"
              [style.fontWeight]="str.bld ? 'bold' : null"
              [style.fontStyle]="str.itl ? 'italic' : null"
            >
              {{ str.text }}
            </ng-container>
          </p>
          <!-- TABLE -->
          <span *ngIf="p.table" class="othertable flexrow justify-center">
            <table>
              <tr *ngFor="let row of p.table; let i = index">
                <ng-container *ngIf="i !== 1">
                  <td
                    *ngFor="let content of row; let j = index"
                    [style.textAlign]="getTextAlign(p.table[1][j])"
                  >
                    <span *ngIf="i === 0" style="white-space: nowrap">
                      <span *ngFor="let word of content.split(' ')">
                        <span>{{ word }}</span
                        ><br />
                      </span>
                    </span>
                    <span *ngIf="i !== 0">
                      {{ content }}
                    </span>
                  </td>
                </ng-container>
              </tr>
            </table>
          </span>
          <!-- SPELL -->
          <div *ngIf="p.spell" class="spell">
            <div class="name-box">
              <h4 class="flexrow namerow" style="padding-left: 0.5rem">
                <span
                  class="name"
                  *ngFor="let c of p.spell.name.split(' '); let i = index"
                  [ngClass]="{ 'name-word': isWord(c) }"
                >
                  {{ c.toUpperCase() }}&nbsp;
                  <span
                    *ngIf="i < p.spell.name.split(' ').length - 1"
                    style="margin-right: 0.1rem;"
                  ></span>
                </span>
              </h4>
              <div class="spell-info">
                <p class="itl">
                  {{ p.spell.description }}
                </p>
                <p *ngIf="p.spell.castingtime">
                  <span class="bld">Casting Time: </span
                  >{{ p.spell.castingtime }}
                </p>
                <p *ngIf="p.spell.range">
                  <span class="bld">Range: </span>{{ p.spell.range }}
                </p>
                <p *ngIf="p.spell.components">
                  <span class="bld">Components: </span>{{ p.spell.components }}
                </p>
                <p *ngIf="p.spell.duration">
                  <span class="bld">Duration: </span>{{ p.spell.duration }}
                </p>
              </div>
              <div>
                <br />
              </div>
              <div
                class="svg flexcol justify-center"
                style="margin-top: -1rem; opacity: 40%; padding: 0.5rem"
              >
                <svg
                  width="100%"
                  height="3"
                  viewBox="0 0 1000 3"
                  preserveAspectRatio="none"
                >
                  <polygon points="0,0  1000,1.5  0,3" style="fill: teal;" />
                </svg>
              </div>
            </div>
            <p *ngFor="let pr of p.spell.text">
              <ng-container
                *ngFor="let str of pr.str"
                [style.fontWeight]="str.bld ? 'bold' : null"
                [style.fontStyle]="str.itl ? 'italic' : null"
              >
                {{ str.text }}
              </ng-container>
              <span *ngIf="pr.table" class="othertable flexrow justify-center">
                <table>
                  <tr *ngFor="let row of pr.table; let i = index">
                    <ng-container *ngIf="i !== 1">
                      <td
                        *ngFor="let content of row; let j = index"
                        [style.textAlign]="getTextAlign(pr.table[1][j])"
                      >
                        <span *ngIf="i === 0" style="white-space: nowrap">
                          <span *ngFor="let word of content.split(' ')">
                            <span>{{ word }}</span
                            ><br />
                          </span>
                        </span>
                        <span *ngIf="i !== 0">
                          {{ content }}
                        </span>
                      </td>
                    </ng-container>
                  </tr>
                </table>
              </span>
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- <h2 class="flexrow namerow">
      <span
        class="name name-word"
        *ngFor="let word of splitSubclassName; let i = index"
      >
        {{ word.toUpperCase() }}&nbsp;
        <span
          *ngIf="i < splitSubclassName.length - 1"
          style="margin-right: 0.1rem;"
        ></span>
      </span>
    </h2> -->
  </div>
</ng-container>
