.container {
  height: auto;
  opacity: 0;
}

.link {
  text-align: center;
  text-decoration: underline;
  /* cursor: pointer; */
}

#content {
  cursor: pointer;
  width: 90%;
  max-width: 40rem;
  background-color: rgb(240, 240, 240);
  /* border-radius: 3px; */
  border-style: solid;
  border-width: 12px;
  border-image-source: url(https://raw.githubusercontent.com/thecobblerbarrel/scroll-io-images/master/shared/sidebars.png);
  border-image-slice: 12;
  border-image-width: 1;
  border-image-outset: 7px;
  border-image-repeat: stretch;
  height: 100%;
  overflow-y: overlay;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 10px/50px;
  scrollbar-width: thin;
  position: relative;
}

::-webkit-scrollbar {
  width: 2px;
}
