<div class="container flexcol align-center">
  <div id="content" *ngIf="document.referrer.indexOf('patreon.com') >= 0"
    (click)="localStorage.setItem('patreontoken', '6f6e657a65726f74776f7a65726f6f6e65'); router.navigate(['/home']);">
    <h4 class="link">Click here to continue to Scroll-io.</h4>
  </div>
  <div id="content" *ngIf="document.referrer.indexOf('patreon.com') === -1"
    (click)="router.navigate(['/home']);">
    <h4 class="link">Click here to continue to scroll-io.</h4>
  </div>
</div>