.page-container {
  display: flex;
  height: calc(100% - 1.5rem);
  justify-content: center;
}

.items-page {
  overflow-x: auto; /* if the display panel is up, turn off horizontal scroll */
  overflow-y: auto;
  height: 100%;
  margin: 0 0 0 0.5rem;
  scrollbar-width: thin;
}

.total-tables {
  width: 53rem;
  height: 100%;
}

.header-table {
  height: 3rem;
  border-spacing: unset;
}

.column-header {
  min-width: 15rem;
  max-width: 15rem;
  overflow: hidden;
  padding: 0;
}

.data-table {
  overflow-y: scroll;
  box-sizing: border-box;
  height: calc(100% - 3rem);
  overflow-x: hidden;
  scrollbar-width: thin;
}

.data-table table {
  border-top: 2px dotted lightgray;
  border-bottom: 2px dotted lightgray;
  cursor: pointer;
}

.sort-arrow {
  margin-left: 0.1rem;
  float: left;
  max-width: 1rem;
  cursor: pointer;
}

.search-input {
  width: calc(100% - 1.5rem);
  display: block;
  border: none;
  border-bottom: 1px solid darkgray;
}

select.search-input {
  color: gray;
}

.search-input:focus {
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
}

.tiny-header {
  min-width: 4rem;
  max-width: 4rem;
}

.small-header {
  min-width: 5rem;
  max-width: 5rem;
}

.medium-header {
  min-width: 7.5rem;
  max-width: 7.5rem;
}

.reduced-header {
  min-width: 12rem;
  max-width: 12rem;
}

.data-row {
  background-image: none;
}

.data-table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.08);
}

.data-table tr:nth-child(odd):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.data-table tr:nth-child(even):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
}

.data-interior {
  width: 13rem;
  padding: 0.2rem 2rem 0.2rem 0;
  font-size: 0.8rem;
}

.name-data {
  font-size: 1rem;
  padding: 0.2rem 1.8rem 0.2rem 0.2rem;
}

.tiny-data {
  min-width: 2rem;
  max-width: 2rem;
}

.small-data {
  min-width: 3rem;
  max-width: 3rem;
}

.medium-data {
  min-width: 5.5rem;
  max-width: 5.5rem;
}

.reduced-data {
  min-width: 10rem;
  max-width: 10rem;
}

.selected-row {
  text-decoration: underline;
  background-color: rgba(0, 80, 30, 0.25) !important;
}

.counter {
  font-size: 0.7rem;
  color: gray;
}
