<div class="page-container">
	<div class="items-page" *ngIf="itemList" (scroll)="onScroll($event)">
		<div class="total-tables">
			<table class="header-table">
				<tr>
					<th class="column-header">
						<input type="search" class="search-input" [(ngModel)]="nameSearch" (ngModelChange)="this.searchUpdate.next()"
              placeholder="Search by name...">
						<span class="sort-arrow" [innerHTML]="icons[0]" (click)="sortClick(0)"></span>
					</th>
					<th class="column-header">
						<input type="search" class="search-input" [(ngModel)]="typeSearch" (ngModelChange)="this.searchUpdate.next()"
            placeholder="Type and subtype...">
						<span class="sort-arrow" [innerHTML]="icons[1]" (click)="sortClick(1)"></span>
					</th>
					<th class="column-header medium-header">
            <select class="search-input" [(ngModel)]="rareSearch" (ngModelChange)="this.searchUpdate.next()">
              <option [ngValue]="undefined" hidden>Rarity...</option>
              <option value="">*Any Rarity</option>
              <option value="Common">Common</option>
              <option value="Uncommon">Uncommon</option>
              <option value="Rare">Rare</option>
              <option value="Very Rare">Very Rare</option>
              <option value="Legendary">Legendary</option>
              <option value="Artifact">Artifact</option>
            </select>
						<span class="sort-arrow" [innerHTML]="icons[2]" (click)="sortClick(2)"></span>
					</th>
					<th class="column-header small-header">
						<select class="search-input" [(ngModel)]="attnToggle" (ngModelChange)="this.searchUpdate.next()" title="Attunement Required">
              <option [ngValue]="undefined" hidden>Atn</option>
              <option value="any">any</option>
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
						<span class="sort-arrow" [innerHTML]="icons[3]" (click)="sortClick(3)"></span>
					</th>
					<th class="column-header reduced-header">
						<input type="search" class="search-input" [(ngModel)]="attnSearch" (ngModelChange)="this.searchUpdate.next()"
            placeholder="Attune by...">
						<span class="sort-arrow" [innerHTML]="icons[4]" (click)="sortClick(4)"></span>
					</th>
				</tr>
			</table>
			<div class="data-table">
				<table>
					<ng-container *ngFor="let item of itemList">
						<tr *ngIf="!item.filtered" class="data-row flex align-center" (click)="selectItem(item)"
							[ngClass]="{'selected-row':selected === item}">
							<td class="data-interior name-data">{{ item.name }}</td>
							<td class="data-interior">{{ item.type }}</td>
							<td class="data-interior medium-data">{{ item.rarity.text }}</td>
							<td class="data-interior small-data"><span *ngIf="item.attune">&#10004;</span></td>
							<td class="data-interior reduced-data"><span *ngIf="item.attune">{{item.attune.by}}</span>
							</td>
						</tr>
						<ng-container *ngIf="selected && item === selected">
							<div [style.marginLeft]="leftBuffer + 'px'" style="margin-right: 5px">
								<app-items-display [item]="selected">
								</app-items-display>
							</div>
						</ng-container>
						<ng-container *ngIf="selected && item === selected">
							<!-- dummy for formatting -->
							<div></div>
						</ng-container>
					</ng-container>
				</table>
			</div>
		</div>
	</div>
</div>
<div style="bottom: 0; left: 0; width: 100%; height: 1.5rem"
	class="flexrow justify-center align-center">
	<div class="counter">
		Showing {{filteredCount}}/{{itemList.length}}
	</div>
</div>