<div class="container flexcol align-center">
  <div class="content">
    

    <h1 style="text-align: center; font-style: italic">welcome to</h1>
    <div class="image-div"><img src="https://raw.githubusercontent.com/thecobblerbarrel/scroll-io-images/master/shared/scroll_logo.png" alt="Scroll-io logo"></div>
    <p>This is the ever-expanding catalog of Dungeons and Dragons 5th Edition homebrew content from <a
        href="https://twitter.com/CobblerBarrel">The Cobbler Barrel</a>. Navigating using the categorical links
      above
      will take you to the indexed and searchable tables of various homebrew articles. The website gets frequent
      content and code updates, so always check back in to find something new. Feel free to browse, copy, and make
      your own!</p>

    <p>There's hundreds of homebrew options on standby, ready
      and waiting for the Kickstarter campaign. What you see here now is just the teaser content. Once successful, this
      site will be filled to the brim!</p>

    <h3>Scroll-io is in the pre-launch phase of its Kickstarter campaign!
      <a style="font-weight: bold"
        href="https://www.kickstarter.com/projects/thecobblerbarrel/scroll-io-a-website-of-free-dandd-5e-expansions">Follow
        The Kickstarter</a> to get
      notifications and updates on
      its arrival!
    </h3>
    <p></p>
    <h4>You can also join the <a style="font-weight: bold" href="https://discord.gg/MbEJTXHFUc">Discord!</a></h4>

    <!-- <h4>You can also support this project on <a style="font-weight: bold"
        href="https://www.patreon.com/theCobblerBarrel">Patreon!</a> There you will find extra benefits, like voting for new features and submitting feedback, bugs, and edits.</h4> -->

    <p></p>
    <h4>Artist Credits:</h4>
    <p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/chloehx21">Chloe</a>, <a target="_blank"
        rel="noopener noreferrer" href="https://twitter.com/lauragalliart">Laura</a>,
      and <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/artofagnes">Agnes</a> for their
      incredible work with the creature concept art.</p>
    <p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/dgalexandre1">Diogo</a>, for his amazing
      designs of the magic items.</p>
    <p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/MaxBConceptArt">Max</a>, for his awesome
      Kickstarter art and monster
      illustrations.</p>

    <div class="dropdown" (click)="oglToggle()">{{ogl}} OGL
      <span class="arrow" [innerHTML]="arrow"></span>
    </div>

  </div>
</div>