div {
  box-sizing: border-box;
}
p {
  font-size: 0.782rem;
}
.container {
  border: 1px solid teal;
  border-radius: 2px;
  background-color: darkcyan;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/47/Kraft_tileable_1024x1024.png);
  background-repeat: repeat;
  background-attachment: local;
  background-blend-mode: screen;
  padding: 1px 0 1px 0;
  overflow-x: auto;
  max-width: calc(100vw - 1rem + 1px);
}

.container-lg {
  width: calc(55rem - 8px);
}
.container-sm {
  width: calc(100vw - 1rem + 1px);
}

.column-container {
  padding: 1px;
  cursor: text;
  background-color: transparent;
}
.column-lg {
  min-width: calc(27.5rem - 5px);
  width: calc(27.5rem - 5px);
}
.column-sm {
  width: calc(100vw - 1rem - 1px);
  min-width: calc(100vw - 1rem - 1px);
}

.column {
  background-color: rgba(255, 255, 255, 0.33);
  margin: 1px;
  border: 8px solid teal;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='teal' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath /%3E%3C/g%3E%3Cg fill='cadetblue'%3E%3Ccircle cx='16' cy='16' r='4'/%3E%3Ccircle cx='59' cy='16' r='4'/%3E%3Ccircle cx='59' cy='59' r='4'/%3E%3Ccircle cx='16' cy='59' r='4'/%3E%3C/g%3E%3C/svg%3E")
    25;
  width: 100%;
  /* padding: 0.4rem; 
  border-radius: 2px;*/
}

.namerow {
  flex-wrap: wrap;
}
.name {
  font-family: Book Antiqua, Palatino, serif;
  font-size: 1.2rem;
  letter-spacing: -1px;
  margin: 0.2rem 0 0.2rem 0;
  line-height: 1;
}
.name-word::first-letter {
  font-size: 1.5rem;
  line-height: 1rem;
}
.header {
  font-family: Book Antiqua, Palatino, serif;
  font-size: 0.782rem;
}
.header-word::first-letter {
  font-size: 1.1rem;
  line-height: 1rem;
}

.type {
  font-style: italic;
  margin-bottom: 0.2rem;
}

.stats-top {
  margin: 0.4rem 0 0.4rem 0;
  /* padding: 1px 0 0 1px; */
}
.stats-bottom {
  margin: 0.1rem 0 0.5rem 0;
  /* padding: 1px 0 0 1px; */
}
.statsbox-left {
  /* margin: -1px 0 0 -1px;
  border: 1px solid rgba(0, 128, 128, 0.3); */
  padding: 0.2rem;
}

.statsbox-right {
  /* margin: -1px 0 0 -1px;
  border: 1px solid rgba(0, 128, 128, 0.3); */
  padding: 0.2rem;
  text-align: right;
}

.abi-table {
  font-size: 0.85rem;
  margin: 0.4rem 0 0.3rem 0;
}
.abi-table th {
  line-height: 0.5rem;
}
.abi-table tr {
  line-height: 1.1rem;
}
.abi-table table {
  width: 100%;
  text-align: center;
}
.abi-scores {
  font-size: 0.85rem;
}
.abi-saves {
  font-size: 0.85rem;
  font-style: italic;
  line-height: 0.5rem;
}

.resist-text {
  margin: 0.3rem 0rem 0.3rem 0rem;
}
.resist-text div {
  font-size: 0.782rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.trait-container {
  margin: 0.2rem 0.1rem 0.3rem 0.1rem;
}
.trait-box {
  padding: 0.2rem;
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
}
.trait-name {
  text-indent: -0.3rem;
}
.trait-info {
  text-indent: 0.25rem;
  font-size: 0.75rem;
  margin: 0 0.1rem 0 0.1rem;
}
.trait-box span,
div {
  font-size: 0.79rem;
  line-height: 1.1rem;
}
.spell-box {
  padding: 0.2rem 0 0.2rem 0.4rem;
}
.trait-spell {
  margin: 0.1rem 0 0.1rem 0;
  font-style: italic;
}
.option-box {
  padding: 0.1rem 0 0 0.4rem;
}
.trait-option {
  margin: 0.1rem 0 0.1rem 0;
}
.info-box {
  padding: 0.2rem;
}
.info-text {
  padding-bottom: 0.4rem;
}

h3 {
  font-size: 0.782rem;
  font-weight: bold;
}

.bld-itl {
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.3px;
}
.bld {
  font-weight: bold;
}
.itl {
  font-style: italic;
}
.indent {
  text-indent: 0.5rem;
}
.udl {
  text-decoration: underline;
}
.highlight {
  color: DarkSlateGray;
}
.shrink {
  display: block;
  line-height: 0.9rem;
}
.point {
  cursor: pointer;
}

.hover-shadow {
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3));
  opacity: 50%;
  transition: opacity 200ms ease-in-out;
}
.hover-shadow:hover {
  opacity: 100%;
}

.image-style img {
  width: 100%;
  max-width: 600px;
  min-height: 8rem;
  margin-bottom: -1rem;
  cursor: auto;
  mix-blend-mode: luminosity;
}
.image-style a {
  align-self: flex-end;
  font-style: italic;
  opacity: 0.66;
  margin-bottom: 0.5rem;
}

.arrow {
  font-size: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll-arrows {
  cursor: pointer;
  text-decoration: underline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: auto;
}
.scroll-arrows::before {
  content: attr(data-unselectable);
}

::-webkit-scrollbar-thumb {
  background: teal;
}
::-webkit-scrollbar-thumb:hover {
  background: DarkSlateGray;
}
