<ng-template #divider>
    <svg width="100%" height="3" viewBox="0 0 1000 3" preserveAspectRatio="none">
        <polygon points="0,0  1000,1.5  0,3" style="fill: teal;" />
    </svg>
</ng-template>
<ng-template #traits>
  <div class="trait-container" *ngIf="creature.traits">
    <div class="flexcol trait-box" *ngFor="let trait of creature.traits">
        <div class="trait-name">
            <span class="bld-itl">
                {{trait.name}}
                <ng-container *ngIf="trait.recharge">
                    (Recharge
                    <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{trait.recharge}}</span>).
                </ng-container>
            </span>
            <ng-container *ngFor="let effect of trait.effect">
                <span *ngIf="effect.newline">
                    <br />
                    &nbsp;&nbsp;
                </span>
                <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc }" (click)="checkRoll(effect)">{{effect.text}}</span>
            </ng-container>
        </div>
        <div class="flexcol option-box" *ngIf="trait.options">
            <div class="trait-option" *ngFor="let option of trait.options">
                <span class="bld" style="font-size: 0.75rem;">
                    {{option.name}}
                    <ng-container *ngIf="option.recharge">
                        (Recharge
                        <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{option.recharge}}</span>).
                    </ng-container>
                </span>
                <ng-container *ngFor="let effect of option.effect">
                    <span *ngIf="effect.newline">
                        <br />
                        &nbsp;&nbsp;
                    </span>
                    <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">
                        {{effect.text}}
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="flexcol spell-box" *ngIf="trait.spells">
            <span class="trait-spell" *ngFor="let spell of trait.spells">{{spell.label}}: {{spell.list}}</span>
        </div>
    </div>
</div>
</ng-template>

<ng-template #actions>
    <ng-container *ngIf="creature.actions">
        <h2 class="header header-word">
            ACTIONS
        </h2>
        <ng-template [ngTemplateOutlet]="divider">
            <!--________DIVIDER________-->
        </ng-template>
        <div class="trait-container">
            <div class="flexcol trait-box" *ngFor="let action of creature.actions" style="white-space: pre-line;">
                <div class="trait-name">
                    <span class="bld-itl">
                        {{action.name}}
                        <ng-container *ngIf="action.recharge">
                            (Recharge
                            <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{action.recharge}}</span>).
                        </ng-container>
                    </span>
                    <ng-container *ngFor="let effect of action.effect">
                        <span *ngIf="effect.newline">
                            <br />
                            &nbsp;&nbsp;
                        </span>
                        <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">{{effect.text}}</span>
                    </ng-container>
                </div>
                <div class="flexcol option-box" *ngIf="action.options">
                    <div class="trait-option" *ngFor="let option of action.options">
                        <span class="bld" style="font-size: 0.75rem;">
                            {{option.name}}
                            <ng-container *ngIf="option.recharge">
                                (Recharge
                                <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{option.recharge}}</span>).
                            </ng-container>
                        </span>
                        <ng-container *ngFor="let effect of option.effect">
                            <span *ngIf="effect.newline">
                                <br />
                                &nbsp;&nbsp;
                            </span>
                            <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">{{effect.text}}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="creature.reactions">
        <h2 class="header header-word">
            REACTIONS
        </h2>
        <ng-template [ngTemplateOutlet]="divider">
            <!--________DIVIDER________-->
        </ng-template>
        <div class="trait-container">
            <div class="flexcol trait-box" *ngFor="let reaction of creature.reactions" style="white-space: pre-line;">
                <div class="trait-name">
                    <span class="bld-itl">
                        {{reaction.name}}
                        <ng-container *ngIf="reaction.recharge">
                            (Recharge
                            <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{reaction.recharge}}</span>).
                        </ng-container>
                    </span>
                    <ng-container *ngFor="let effect of reaction.effect">
                        <span *ngIf="effect.newline">
                            <br />
                            &nbsp;&nbsp;
                        </span>
                        <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">{{effect.text}}</span>
                    </ng-container>
                </div>
                <div class="flexcol option-box" *ngIf="reaction.options">
                    <div class="trait-option" *ngFor="let option of reaction.options">
                        <span class="bld" style="font-size: 0.75rem;">
                            {{option.name}}
                            <ng-container *ngIf="option.recharge">
                                (Recharge
                                <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{option.recharge}}</span>).
                            </ng-container>
                        </span>
                        <ng-container *ngFor="let effect of option.effect">
                            <span *ngIf="effect.newline">
                                <br />
                                &nbsp;&nbsp;
                            </span>
                            <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">{{effect.text}}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>

<div *ngIf="creature && (creature.info || creature.image)" class="container flexrow" [ngClass]="{'container-lg': !mobile, 'container-sm': mobile}" style="border-bottom: 0">
  <div class="flexcol image-style"  style="width: 100%; padding: 0.2rem; background-color: transparent;">
    <div class="flexrow point" (click)="creature.showinfo = !creature.showinfo" style="background-color: rgba(0, 0, 0, 0.05); border-radius: 3px 3px 0 0;">
        <h2 class="header header-word" style="margin-left: 0.5rem; text-decoration: underline">
            INFO <span class="arrow" *ngIf="!creature.showinfo">&#9655;</span><span class="arrow" *ngIf="creature.showinfo">&#9661;</span>
        </h2>
    </div>
    <div *ngIf="creature.showinfo" style="cursor: text;">
      <div class="flexcol align-center" *ngIf="creature.image">
        <img src="{{creature.image}}" alt="{{creature.name}}">
        <a target="_blank" rel="noopener noreferrer"  href="https://twitter.com/{{creature.artist}}">@{{creature.artist}}</a>
      </div>
      <div class="trait-container" *ngIf="creature.info" style="margin-bottom: 0">
          <div class="flexcol" style="white-space: pre-line;">
              <div *ngFor="let info of creature.info" class="indent info-text">
                  <div style="margin-bottom: 0.1rem" *ngFor="let desc of info.desc; let i = index"><span class="bld" *ngIf="i === 0">{{info.name}} </span>{{desc}}</div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div id="container" *ngIf="creature" class="container flexrow" [ngClass]="{'container-lg': !mobile, 'container-sm': mobile}">
    <div class="column-container flexrow" [ngClass]="{'column-lg': !mobile, 'column-sm': mobile}">
        <div class="column flexcol">
            <h1 class="flexrow namerow">
                <span class="name" *ngFor="let c of splitName; let i = index" [ngClass]="{'name-word': isWord(c)}">
                    {{c.toUpperCase()}}&nbsp;
                    <span *ngIf="i < splitName.length-1" style="margin-right: 0.1rem;"></span>
                </span>
            </h1>
            <p class="type">
                {{creature.size.text + ' ' + creature.type + ', ' + creature.alignment}}
            </p>
            <ng-template [ngTemplateOutlet]="divider">
                <!--________DIVIDER________-->
            </ng-template>
            <table>
                <tr class="stats-top flexrow flexwrap justify-between">
                    <td class="statsbox-left">
                        <h3>Hit Points</h3>
                        <p class="udl highlight point" (click)="toRoll(creature.hpdice)">
                            {{creature.hp}}
                        </p>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="statsbox-left">
                        <h3>Armor Class</h3>
                        <p>{{creature.ac}}</p>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="statsbox-left">
                        <h3>CR</h3>
                        <p>{{creature.cr.text}}</p>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="statsbox-left">
                        <h3>Speed</h3>
                        <p>{{creature.speed}}</p>
                    </td>
                </tr>
            </table>
            <br />
            <div style="margin-top: -1.3rem;"><!--dont change, sizing differs in firebase-->
                <ng-template [ngTemplateOutlet]="divider">
                    <!--________DIVIDER________-->
                </ng-template>
            </div>
            <div class="flex abi-table">
                <table>
                    <tr>
                        <th style="width: 16.15%;" [attr.title]="proficiencyTitle('str')">STR<span *ngIf="creature.saves && creature.saves.str">*</span></th>
                        <th style="width: 16.15%;" [attr.title]="proficiencyTitle('dex')">DEX<span *ngIf="creature.saves && creature.saves.dex">*</span></th>
                        <th style="width: 16.15%;" [attr.title]="proficiencyTitle('con')">CON<span *ngIf="creature.saves && creature.saves.con">*</span></th>
                        <th style="width: 16.15%;" [attr.title]="proficiencyTitle('int')">INT<span *ngIf="creature.saves && creature.saves.int">*</span></th>
                        <th style="width: 16.15%;" [attr.title]="proficiencyTitle('wis')">WIS<span *ngIf="creature.saves && creature.saves.wis">*</span></th>
                        <th style="width: 16.15%;" [attr.title]="proficiencyTitle('cha')">CHA<span *ngIf="creature.saves && creature.saves.cha">*</span></th>
                    </tr>
                    <tr class="abi-scores udl highlight point">
                        <td (click)="toRoll(creature.abilities.str.bonus)">
                            {{creature.abilities.str.val}}
                        </td>
                        <td (click)="toRoll(creature.abilities.dex.bonus)">
                            {{creature.abilities.dex.val}}
                        </td>
                        <td (click)="toRoll(creature.abilities.con.bonus)">
                            {{creature.abilities.con.val}}
                        </td>
                        <td (click)="toRoll(creature.abilities.int.bonus)">
                            {{creature.abilities.int.val}}
                        </td>
                        <td (click)="toRoll(creature.abilities.wis.bonus)">
                            {{creature.abilities.wis.val}}
                        </td>
                        <td (click)="toRoll(creature.abilities.cha.bonus)">
                            {{creature.abilities.cha.val}}
                        </td>
                    </tr>
                    <tr *ngIf="creature.saves" class="abi-saves udl highlight point">
                        <td (click)="toRoll(creature.saves.str.toString())">
                            {{creature.saves.str}}
                        </td>
                        <td (click)="toRoll(creature.saves.dex.toString())">
                            {{creature.saves.dex}}
                        </td>
                        <td (click)="toRoll(creature.saves.con.toString())">
                            {{creature.saves.con}}
                        </td>
                        <td (click)="toRoll(creature.saves.int.toString())">
                            {{creature.saves.int}}
                        </td>
                        <td (click)="toRoll(creature.saves.wis.toString())">
                            {{creature.saves.wis}}
                        </td>
                        <td (click)="toRoll(creature.saves.cha.toString())">
                            {{creature.saves.cha}}
                        </td>
                    </tr>
                    <!-- <tr *ngIf="creature.saves" class="abi-saves">
               <td colspan="6"><strong>Saving Throws</strong></td>
                   </tr> -->
                </table>
            </div>
            <br/>
            <div style="margin-top: -1rem;"><!--dont change, sizing differs in firebase-->
                <ng-template [ngTemplateOutlet]="divider">
                    <!--________DIVIDER________-->
                </ng-template>
            </div>
            <div class="flexcol resist-text">
                <div *ngIf="creature.vuln"><strong>Damage Vulnerabilities </strong>{{creature.vuln}}</div>
                <div *ngIf="creature.resist"><strong>Damage Resistances </strong>{{creature.resist}}</div>
                <div *ngIf="creature.immune"><strong>Damage Immunities </strong>{{creature.immune}}</div>
                <div *ngIf="creature.immunity"><strong>Condition Immunities </strong>{{creature.immunity}}</div>
                <div *ngIf="creature.senses"><strong>Senses </strong>{{creature.senses}}</div>
                <div *ngIf="creature.languages"><strong>Languages </strong>{{creature.languages}}</div>
                <br />
            </div>
            <div style="margin-top: -1rem;"><!--dont change, sizing differs in firebase-->
                <ng-template [ngTemplateOutlet]="divider" *ngIf="creature.traits && !traitsRight(creature)">
                    <!--________DIVIDER________-->
                </ng-template>
            </div>
            <ng-template [ngTemplateOutlet]="traits" *ngIf="!traitsRight(creature)">
                <!--TRAITS-->
            </ng-template>
            <!-- <ng-template [ngTemplateOutlet]="actions" *ngIf="!creature.reactions && !creature.legendary && !creature.mythic && creature.actions && creature.actionsize < 400">
            </ng-template> -->
            <div *ngIf="mobile" style="align-self: flex-end" class="scroll-arrows" (click)="quickScroll(true)">Actions &#9655;</div>
        </div>
    </div>
    <div class="column-container flexrow" [ngClass]="{'column-lg': !mobile, 'column-sm': mobile}" *ngIf="creature.reactions || creature.legendary || creature.mythic || creature.actions || creature.traits"> 
      <!-- *ngIf="creature.reactions || creature.legendary || creature.mythic || (creature.actions && creature.actionsize >= 400)" -->
        <div class="column flexcol">
            <ng-template [ngTemplateOutlet]="traits" *ngIf="traitsRight(creature)">
                <!--TRAITS-->
            </ng-template>
            <ng-template [ngTemplateOutlet]="actions">
                <!--ACTIONS *ngIf="creature.reactions || creature.legendary || creature.mythic || (creature.actions && creature.actionsize >= 400)"-->
            </ng-template>
            <ng-container *ngIf="creature.legendary">
                <span class="flexrow">
                    <h2 class="header header-word" style="margin-right: 0.2rem;">
                        LEGENDARY
                    </h2>
                    <h2 class="header header-word">
                        ACTIONS
                    </h2>
                </span>
                <ng-template [ngTemplateOutlet]="divider">
                    <!--________DIVIDER________-->
                </ng-template>
                <div class="trait-container">
                    <div class="trait-info">
                        <span class="itl shrink" style="margin-bottom: 0.2rem;">{{creature.legendary.info}}</span>
                    </div>
                    <div class="flexcol trait-box" *ngFor="let action of creature.legendary.actions" style="white-space: pre-line;">
                        <div class="trait-name">
                            <span class="bld-itl">
                                {{action.name}}
                                <ng-container *ngIf="action.recharge">
                                    (Recharge
                                    <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{action.recharge}}</span>).
                                </ng-container>
                            </span>
                            <ng-container *ngFor="let effect of action.effect">
                                <span *ngIf="effect.newline">
                                    <br />
                                    &nbsp;&nbsp;
                                </span>
                                <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">{{effect.text}}</span>
                            </ng-container>
                        </div>
                        <div class="flexcol option-box" *ngIf="action.options">
                            <div class="trait-option" *ngFor="let option of action.options">
                                <span class="bld" style="font-size: 0.75rem;">
                                    {{option.name}}
                                    <ng-container *ngIf="option.recharge">
                                        (Recharge
                                        <span class="bld highlight udl itl point" (click)="toRoll('d6')">{{option.recharge}}</span>).
                                    </ng-container>
                                </span>
                                <ng-container *ngFor="let effect of option.effect">
                                    <span *ngIf="effect.newline">
                                        <br />
                                        &nbsp;&nbsp;
                                    </span>
                                    <span [ngClass]="{'bld color': effect.bld, 'itl': effect.itl, 'udl point': effect.dice || effect.bonus, 'highlight': effect.dice || effect.bonus || effect.dc}" (click)="checkRoll(effect)">{{effect.text}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="mobile" style="align-self: flex-start" class="scroll-arrows" (click)="quickScroll(false)">&#9665; Traits</div>
        </div>
    </div>
    <!-- <div class="column-container flexrow" [ngClass]="{'column-lg': !mobile, 'column-sm': mobile}" *ngIf="creature.info">
        <div class="column flexcol">
            <ng-container>
                <div class="flexrow">
                    <h2 class="header header-word">
                        INFO
                    </h2>
                </div>
                <div class="trait-container">
                    <div class="flexcol" style="white-space: pre-line;">
                        <div *ngFor="let info of creature.info" class="indent info-text">
                            <div (click)="info.show = !info.show" style="cursor: pointer">
                              <span class="bld">{{info.name}} </span>
                              <span *ngIf="!info.show">&#9655; </span>
                              <span *ngIf="info.show">&#9661; </span>
                            </div>
                            <ng-container *ngIf="info.show">
                              <div *ngFor="let desc of info.desc" style="text-align: justify;">{{desc}}</div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="creature.image" class="column-container flexrow" [ngClass]="{'column-lg': !mobile, 'column-sm': mobile}">
      <div class="column flexcol image-style">
        <img src="{{creature.image}}" alt="{{creature.name}}">
        <a target="_blank" rel="noopener noreferrer"  href="https://twitter.com/{{creature.artist}}">@{{creature.artist}}</a>
      </div>
    </div> -->
</div>
<app-rollview *ngIf="diceRoll" [(diceRoll)]="diceRoll" [scale]="mobile + 1"></app-rollview>
