<div class="container flexcol align-center">
  <div class="content">
    <p class="flex justify-center">
      <button>GENERATE</button>
    </p>
    <h3>*Name (*Gender *Species)</h3>
    <h4>Appearance.</h4>
    <p>
      A *bodyshape *age with *skin, *hair, and *eyes.
      They have *interesting_appearance. They wear *interesting_clothes.
    </p>
    <h4>Backstory.</h4>
    <p>
      Because they *cause, they now *effect.
    </p>
    <h4>Character.</h4>
    <p>
      *adjective. Agreeable to those who *agree. Biased against those who *bias.
    </p>
    <h4>Dialect.</h4>
    <p>
      *dialect.
    </p>



  </div>
</div>