.container {
  height: calc(100% - 1rem);
}

.content {
  width: 90%;
  max-width: 40rem;
  background-color: rgba(0, 20, 0, 0.05);
  /* border-radius: 3px; */
  border-style: solid;
  border-width: 12px;
  border-image-source: url(https://raw.githubusercontent.com/thecobblerbarrel/scroll-io-images/master/shared/sidebars.png);
  border-image-slice: 12;
  border-image-width: 1;
  border-image-outset: 7px;
  border-image-repeat: stretch;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 10px/50px;
  scrollbar-width: thin;
}

.content p {
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.image-div {
  display: flex;
  width: 100%;
  height: 107px;
  justify-content: center;
}

.arrow {
  max-width: 1rem;
}

.dropdown {
  margin-top: 2rem;
  cursor: pointer;
  user-select: none;
}
.dropdown:hover {
  text-decoration: underline;
}
.license p {
  font-size: 10px;
}

