<div class="page-container">
  <div class="classes-page" *ngIf="classList">
    <div class="total-tables">
      <div class="data-table" id="data-table">
        <table id="table-interior">
          <tr class="table-row" id="classes-row">
            <ng-container *ngFor="let class of classList">
              <td
                class="data-button"
                (click)="selectClass(class)"
                [ngClass]="{
                  'selected-button': selectedClass === class,
                  'no-subclass': !class.subclasses,
                  'has-subclass': class.subclasses
                }"
              >
                <div class="data-interior name-data">{{ class.name }}</div>
                <!-- <td class="data-interior">{{ item.type }}</td>
							<td class="data-interior medium-data">{{ item.rarity.text }}</td>
							<td class="data-interior small-data"><span *ngIf="item.attune">&#10004;</span></td>
							<td class="data-interior reduced-data"><span *ngIf="item.attune">{{item.attune.by}}</span>
							</td> -->
              </td>
            </ng-container>
          </tr>
          <div
            class="subclass-row other-row"
            id="subclasses-row"
            *ngIf="selectedClass"
          >
            <tr class="table-row">
              <ng-container *ngFor="let subclass of selectedClass.subclasses">
                <td
                  class="data-button subclass-button"
                  (click)="selectSublass(subclass)"
                  (dblclick)="skipTo('subclass-header')"
                  [ngClass]="{
                    'selected-button': selectedSubclass === subclass
                  }"
                >
                  <div class="data-interior name-data">{{ subclass.name }}</div>
                  <!-- <td class="data-interior">{{ item.type }}</td>
							<td class="data-interior medium-data">{{ item.rarity.text }}</td>
							<td class="data-interior small-data"><span *ngIf="item.attune">&#10004;</span></td>
							<td class="data-interior reduced-data"><span *ngIf="item.attune">{{item.attune.by}}</span>
							</td> -->
                </td>
              </ng-container>
            </tr>
          </div>
          <div class="other-row" *ngIf="selectedClass">
            <tr class="table-row checkbox-row">
              <input type="checkbox" id="showintro" [(ngModel)]="showIntro" />
              <label for="showintro" class="data-interior"
                >Show Introduction</label
              >
            </tr>
            <tr class="table-row checkbox-row">
              <input type="checkbox" id="showtable" [(ngModel)]="showTable" />
              <label for="showtable" class="data-interior"
                >Show Class Table</label
              >
            </tr>
            <tr class="table-row checkbox-row">
              <input type="checkbox" id="showprof" [(ngModel)]="showProf" />
              <label for="showprof" class="data-interior"
                >Show Details</label
              >
            </tr>
            <tr class="table-row checkbox-row">
              <span class="data-interior" (click)="skipTo('subclass-header')">-Skip to Subclass-</span>
            </tr>
          </div>
          <div class="class-border">
            <div
              class="class-container"
              id="class-parent"
              *ngIf="selectedClass && selectedSubclass"
            >
              <div class="lighten-container">
                <app-classes-display
                  [C]="selectedClass"
                  [SC]="selectedSubclass"
                  [showIntro]="showIntro"
                  [showProf]="showProf"
                  [showTable]="showTable"
                ></app-classes-display>
              </div>
            </div>
          </div>
        </table>
      </div>
    </div>
    <div class="jump-box">
      <span class="jump-text" (click)="scroll()">Back To Top</span>
    </div>
  </div>
</div>
